<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @* سيتم توجيه المستخدم غير المسجل إلى صفحة تسجيل الدخول *@
                <RedirectToLogin />
            </NotAuthorized>
           @*  <Authorizing>
                <p>جاري التحقق من الصلاحيات...</p>
            </Authorizing> *@
                <Authorizing>
                    <div class="auth-container">
                        <div class="auth-card">
                            <div class="lock-wrapper">
                                <div class="shimmer-circle"></div>
                                <i class="fas fa-shield-alt auth-icon"></i>
                            </div>

                            <h3>جاري التحقق</h3>
                            <p>يرجى الانتظار قليلاً، نقوم بمراجعة صلاحيات الوصول الخاصة بك.</p>

                            <div class="progress-bar">
                                <div class="progress-fill"></div>
                            </div>
                        </div>
                    </div>
                </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>عفواً، الصفحة غير موجودة.</p>
        </LayoutView>
    </NotFound>
</Router> 
</CascadingAuthenticationState> 

