@using TLSWeb.Components
@using TLSWeb.Pages.Centers.Components
@attribute [Route(PagesUris.CenterPages.DailyReport)]

<h3>
    <i class="bi bi-table me-2 text-primary"></i>
تقرير حضور الطلاب اليومي</h3>

<div class="alert alert-info d-flex align-items-center" role="alert">
    <i class="bi bi-info-circle me-2"></i>
    <div>
        <InputDate @bind-Value="SelectedDate" @bind-Value:after="@(()=>OnDateChanged())"></InputDate>
    </div>
</div>

@if(DailyReports is null || DailyReports.Count<=0)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
            <h2 class="text-primary fw-bold">تقرير الحضور اليومي</h2>
            <span class="badge bg-secondary p-2">التاريخ: @DateTime.Now.ToString("yyyy-MM-dd")</span>
        </div>

        @foreach (var item in DailyReports)
        {
            <CenterDailyReportComponent item="@item"  ></CenterDailyReportComponent>
        }

      @*   <div class="text-center mt-5 mb-5">
            <button type="submit" class="btn btn-success btn-lg px-5 shadow">
                <i class="bi bi-check-circle me-2"></i> حفظ جميع التقارير
            </button>
        </div> *@
    </div>
}

@code {
    List<SharedLib.Entities.DailyReport> DailyReports = new();
    DateOnly SelectedDate = DateOnly.FromDateTime(DateTime.Now);
    protected override async Task OnInitializedAsync()
    {
        DailyReports =await DailyReportApi.GetDailyReport();
    }

    private async Task SaveCenter(long CenterId)
    {
        var reportToSave = DailyReports.FirstOrDefault(r => r.CenterId == CenterId);

        if (reportToSave != null)
        {
            reportToSave.Center = null;
            var response = await DailyReportApi.UpdateDailyReport(reportToSave);
            if (response.Success)
                MudSnackbar.Add(response.Message, Severity.Success);
            else
                MudSnackbar.Add(response.Message, Severity.Error);
        }
    }
    private async Task OnDateChanged()
    {
        DailyReports = null;
        StateHasChanged();
        DailyReports = await DailyReportApi.GetDailyReportForDate(SelectedDate);
    }
}
