@page "/"
@using SharedLib.Entities
@using TLSWeb.Pages.Dashboard



<PageTitle>الصفحة الرئيسية - إدارة مراكز التعليم المؤقتة</PageTitle>
<AuthorizeView Roles="Admin">

    <Authorized>
        <AdminDashboard></AdminDashboard>
    </Authorized>

    <NotAuthorized>
        <Dashboard></Dashboard>
    </NotAuthorized>

</AuthorizeView>



@* <h1>Hello, world!</h1>
<button class="btn btn-primary" @onclick="LoadData">Load Data</button> *@


@code {

    string username = "";
    protected override async void OnInitialized()
    {
        // LoadData();
    }

    async void LoadData()
    {
        // username = await UserService.GetCurrentUserProfileAsync().ContinueWith(t => t.Result.Role);
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("Admin"))
        {
            // منطق خاص بالأدمن
            Console.WriteLine("المستخدم هو أدمن");
        }
        else
        {
            // منطق للمستخدمين الآخرين
            Console.WriteLine("المستخدم ليس أدمن");
        }
    }

    async void addRole()
    {
        // جلب بيانات المستخدم الحالية من نظام المصادقة
        // var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authState.User;
        // var UserEmail = user.Claims.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value!;
        // ApplicationUser u = new();
        // u.Email = UserEmail;
        // await UserApi.Update(u);
    }
}

